@import "tailwindcss";
@import 'aos/dist/aos.css';
@import 'lightgallery/css/lightgallery.css';

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}